################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/EPR.SubsidiaryBulkUpload.Application/obj
/src/EPR.SubsidiaryBulkUpload.Application.UnitTests/bin/Debug/net8.0
/src/EPR.SubsidiaryBulkUpload.Application.UnitTests/obj/Debug/net8.0
/src/EPR.SubsidiaryBulkUpload.Application.UnitTests/obj
/src/EPR.SubsidiaryBulkUpload.Function/bin/Debug/net8.0/.azurefunctions/runtimes/win/lib/netstandard2.0
/src/EPR.SubsidiaryBulkUpload.Function/bin/Debug/net8.0
/src/EPR.SubsidiaryBulkUpload.Function/obj/Debug/net8.0/WorkerExtensions/buildout
/src/EPR.SubsidiaryBulkUpload.Function/obj/Debug/net8.0/WorkerExtensions/obj
/src/EPR.SubsidiaryBulkUpload.Function/obj/Debug/net8.0
/src/EPR.SubsidiaryBulkUpload.Function/obj
/src/EPR.SubsidiaryBulkUpload.Function.UnitTests/bin/Debug/net8.0/cs
/src/EPR.SubsidiaryBulkUpload.Function.UnitTests/bin/Debug/net8.0/de
/src/EPR.SubsidiaryBulkUpload.Function.UnitTests/bin/Debug/net8.0
/src/EPR.SubsidiaryBulkUpload.Function.UnitTests/obj/Debug/net8.0
/src/EPR.SubsidiaryBulkUpload.Function.UnitTests/obj
/src/.vs/EPR.SubsidiaryBulkUpload/FileContentIndex
/src/.vs/EPR.SubsidiaryBulkUpload/v17
/src/.vs/ProjectEvaluation
/.vs/epr-subsidiary-func-bulk-upload/v17
/.vs
/src/.vs/EPR.SubsidiaryBulkUpload/DesignTimeBuild
/src/EPR.SubsidiaryBulkUpload.Application/bin/Debug/net8.0
/src/EPR.SubsidiaryBulkUpload.Function/local.settings.json
/src/.vs/EPR.SubsidiaryBulkUpload/config/applicationhost.config
